.root {
	@mixin responsive padding-block, 2, 2;
	@mixin responsive padding-inline, 25, 25;
	@mixin button-text;
	@mixin responsive border-radius, 5, 7;
	@mixin transition;

	transition-property: all;
	display: flex;
	align-items: center;
	width: fit-content;

	&.filled,
	&.outline {
		border: 1px solid;
	}

	&.subtle {
		padding: unset;
	}
}
