.wrapper {
	@mixin responsive padding-block, 20, 20;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homePageLink {
	@mixin transition color;
	@mixin body-large;

	@media (hover: hover) {
		&:hover {
			color: var(--deep-magenta)
		}
	}
}
