.wrapper {
	@mixin responsive padding-block, 20, 20;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homePageLink {
	@mixin transition;
	@mixin body-large;

	display: block;
	transition-property: all;

	@media (hover: hover) {
		&:hover {
			translate: 0% -10%;
			color: var(--deep-magenta);
		}
	}
}
