.wrapper {
	@mixin responsive padding-block, 20, 20;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homePageLink {
	@mixin transition opacity;
	@mixin button-text;

	@media (hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}
}
