.root {
	@mixin responsive gap, 5, 30;

	display: flex;
	align-items: center;
}

.button[data-variant='subtle'] {
	@mixin transition all;

	@media (hover: hover) {
		&:hover {
			translate: 0% -10%;
			color: var(--info-100-color);
		}
	}
}

.button[data-variant='filled'] {
	@mixin transition;
	@mixin box-shadow black;

	transition-property: all;
	background-color: var(--black-80-color);
	border: unset !important;
	color: var(--white-100-color);

	@media (hover: hover) {
		&:hover {
			translate: 0% -10%;
			background-color: var(--deep-cyan);
		}
	}
}
