.root {
	@mixin responsive padding-inline, 30, 150;
	@mixin responsive padding-block, 40, 40;
	@mixin responsive border-radius, 30, 40;
	@mixin responsive gap, 20, 30;
	@mixin box-shadow var(--primary-100-color);

	margin-inline: auto;
	margin-top: 20vh;
	width: fit-content;

	background-color: var(--steel-teal);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title,
.description {
	text-align: center;
}

.title {
	@mixin h2;
}

.description {
	@mixin caption;
}

.navigation {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
