.root {
	@mixin responsive padding-inline, 30, 40;
	@mixin responsive padding-block, 40, 30;
	@mixin responsive border-radius, 30, 30;
	@mixin responsive gap, 20, 30;

	width: fit-content;

	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;

	background-color: var(--black-89-color);
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (max-width: 767px) {
		position: static;
		top: unset;
		left: unset;
		translate: unset;
	}
}

.title,
.description {
	text-align: center;
}

.title {
	@mixin h3;
}

.description {
	@mixin body-small;
}

.startButton {
	@mixin transition;

	background-color: var(--success-100-color);
	border: unset !important;
	transition-property: all;

	@media (hover:hover) {
		&:hover {
			translate: 0% -10%;
			background-color: var(--deep-cyan);
		}
	}
}
